.App {
  margin: auto;
  width: 50%;
  margin-top: 5%;
  text-align: center;
}

h1 {
  margin: auto;
  letter-spacing: 2px;
  color: orangered;
}

table {
  margin: auto;
}

table,
td {
  background-color: black;
  color: white;
  border-collapse: collapse;
  border: 1px solid white;
}

td {
  cursor: pointer;
}

input {
  text-align: center;
  font-size: 20px;
}

input::placeholder {
  color: orangered;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: orangered;
}

input::-ms-input-placeholder {
  color: orangered;
}

#footer {
  margin: auto;
  margin-top: 5%;
  font-size: 15px;
  color: gray;
}
